// -------------------------------//
// ------------COLORS-------------//
// -------------------------------//
$aqua: #2880FA;

$neon-teal: #28FAEF;

$neon-pig: #FA3590;

$midnight-sky: #55537B;

$mels-black: #080A0D;

$mels-white: #FCFCFF;


// -------------------------------//
// ------------FONTS--------------//
// -------------------------------//

$font-grand-hotel: 'Grand Hotel', cursive;

$font-tilt-neon: 'Tilt Neon', sans-serif;
  